#homepage {
  background-color: #afceff;
  width: 100%;
  height: 100vh; }
  #homepage .wrapper {
    display: block;
    min-height: 80px;
    text-align: center; }
  #homepage .homepage-centered {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.5s linear; }
  #homepage.loading .homepage-centered {
    transform: translate(-200%, -50%);
    opacity: 0;
    transition: all 0.5s linear; }
  #homepage #host-button {
    font-family: inherit;
    font-size: 3rem;
    background: none;
    border: 3px solid black;
    width: 120px;
    height: 80px;
    line-height: 80px;
    border-radius: 10px;
    background-color: #639fff;
    cursor: pointer;
    margin: 0px auto;
    display: block;
    color: inherit;
    -webkit-text-stroke-width: 2px;
    transition: all 0.2s linear; }
    #homepage #host-button:hover {
      transform: scale(1.1);
      background-color: #7cafff;
      transition: all 0.2s linear; }
    #homepage #host-button:active {
      background-color: #96beff; }
  #homepage h1 {
    font-size: 3rem; }
