@import '../../SharedStyles/Variables.scss';

#gamepage,#game-over-box {
    background-color: $eggshell-blue;
    width: 100%;
    min-height: 100vh;

    animation: animate-background-color;
    animation-fill-mode: forwards;
    animation-duration: 1s;
    -webkit-text-stroke-width: 2px;

    font-size: 3rem;
    padding-top: 60px;

    &.game-over {
        animation: animate-background-color-game-over;
        animation-fill-mode: forwards;
        animation-duration: 1s;
    }

    .row {
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }

    .game-panel {
        background-color: rgba(15, 15, 15, 0.5);
        box-shadow: $box-shadow;
        border-radius: 15px;
        margin: 10px;
        padding: 10px;
        text-align: center;

        border: 1px solid black;

        h3 {
            text-decoration: underline;
            font-size: 4rem;
            margin: 0px;
        }

        input,button {
            padding: 10px;
        }

        input {
            color: black;
            -webkit-text-stroke-width: 0px;
            font-family: Arial, Helvetica, sans-serif;

            &.invalid {
                color: rgb(250,50,50);
            }
        }

        button:disabled {
            background-color: #ccc;
            color: #aaa;
        }

        animation: fade-in; 
        animation-duration: 1s;
        animation-fill-mode: forwards;
    }

    .player-info {
        li.me {
            color: darken($light-green, 40%);
        }

        button {
            padding: 5px 10px;
            border-radius: 10px;
            border: none;
        }
    }
    
    .game-header {
        font-size: 4rem;

        .join-link { 
            font-size: 2rem;
            -webkit-text-stroke-width: 1px;
            background-color: rgba(25,25,25,0.8);
            padding: 16px 6px;
            border-radius: 15px;
            max-width: 725px;
            margin: auto;
            -webkit-text-stroke-width: 0px;
            letter-spacing: 0.2rem;

            a {
                color: #ddd;

                i {
                    margin-left: 6px;
                }

                &:hover {
                    text-decoration: none;
                    color: darken($light-green, 10%);
                }
            }
        }
    }

    .game-letters {
        font-size: 3.5rem;
        color: #256525;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        letter-spacing: 0rem;
    }

    ul {
        list-style-type: none;
        padding-left: 0;
        padding-top: 15px;
    }

    .word-list li {
        display: inline-block;
        margin-right: 20px;
    }

    .game-hidden {
        opacity: 0;
        transition: all 1s li0near;
    }
}

#game-over-box {
    background-color: transparent;
    position: absolute;
    left: 50%;
    top: 25%;
    transform: translate(-50%, -50%) scale(0.5);
    transition: all 0.5s linear;

    width: 300px;
    height: 300px;
    min-height: 0px;
    font-size: 4rem;
    text-align: center;
    line-height: 8rem;

    opacity: 0;

    animation: fade-in-offset;
    animation-duration: 1s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;

    .game-panel {        
        background-color: rgba(30,120,30,0.95);
        width: 100%;
        height: 100%;
    }

    a {
        text-decoration: underline;
        font-family: Arial, Helvetica, sans-serif;
        color: rgb(35,35,150);
    }
}

@keyframes animate-background-color {
    0% {
        background-color: $eggshell-blue;
    }

    100% {
        background-color: $light-green;
    }
}

@keyframes animate-background-color-game-over {
    0% {
        background-color: $light-green;
        filter: grayscale(0%);
    }

    100% {
        background-color: #aaa;
        filter: grayscale(90%);
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
        transform: scale(0.5);
    }

    25% {
        opacity: 0;
        transform: scale(0.5);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes fade-in-offset {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%) scale(0.5);
    }

    25% {
        opacity: 0;
        transform: translate(-50%, -50%) scale(0.5);
    }

    100% {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }
}